<body>
    <h1>Create a Team and Heroes!</h1>
    <form action="/team" method="POST">
        <label for="">Team Name:</label>
        <input type="text" name="team[name]"><br>

        <label for="">Team Motto:</label>
        <input type="text" name="team[motto]"><br><br>

        <h2>Hero 1</h2>
        <label for="hero_name_1">Hero's Name: </label>
        <input id="hero_name_1" type="text" name="heros[name]">
        <label for="hero_power_1">Hero's Power: </label>
        <input id="hero_power_1" type="text" name="heros[power]">
        <label for="hero_biography_1">Hero's Biography: </label>
        <input id="hero_biography_1" type="text" name="heros[biography]"><br><br>

        <h2>Hero 2</h2>
        <label for="hero_name_2">Hero's Name: </label>
        <input id="hero_name_2" type="text" name="heros[name]">
        <label for="hero_power_2">Hero's Power: </label>
        <input id="hero_power_2" type="text" name="heros[power]">
        <label for="hero_biography_2">Hero's Biography: </label>
        <input id="hero_biography_2" type="text" name="heros[biography]"><br><br>

        <h2>Hero 3</h2>
        <label for="hero_name_3">Hero's Name: </label>
        <input id="hero_name_3" type="text" name="heros[name]">
        <label for="hero_power_3">Hero's Power: </label>
        <input id="hero_power_3" type="text" name="heros[power]">
        <label for="hero_biography_3">Hero's Biography: </label>
        <input id="hero_biography_3" type="text" name="heros[biography]"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>